.header__logo {
    width: 142px;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media screen and (max-width: 980px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 580px) {
    .header__logo {
        width: 103.74px;
    }
}