.form {
    display: flex;
    flex-direction: column;
    min-width: 430px;
    padding: 45px 36px 37px;
    margin: 0;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 580px) {
    .form {
        min-width: 282px;
        padding: 68px 22px 25px;
    }
}