.form {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 48px 36px 36px;
    margin: 0;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 580px) {
    .form {
        width: 282px;
        padding: 75px 22px 25px;
    }
}