.popup__close-icon {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    position: absolute;
    right: -40px;
    top: -40px;
    z-index: 2;
}

@media screen and (max-width: 580px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}