.popup__input-container {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 45px 0 44px;
    margin: 0;
}

@media screen and (max-width: 580px) {
    .popup__input-container {
        padding: 68px 0 45px;
    }
}