.form__input-container {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 44px;
    margin: 0;
}

@media screen and (max-width: 580px) {
    .form__input-container {
        padding-bottom: 45px;
    }
}