.card__like-button {
    width: 19px;
    height: 20px;
    background-image: url(../../../images/heart-white.svg);
    background-size: contain;
    flex-shrink: 0;
}

.card__like-button:hover {
    opacity: 0.5;
}