.profile__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .profile__name-container {
        justify-content: center;
    }
}

@media screen and (max-width: 580px) {
    .profile__name-container {
        column-gap: 10px;
    }
}