.profile__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
}

@media screen and (max-width: 580px) {
    .profile__name-container {
        column-gap: 10px;
    }
}