.footer {
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 980px) {
    .footer {
        width: calc(100% - 38px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}